.dealer {
  background-color: #f1f3f7;

  &__info {
    padding: 20px 0px;

    h1 {
      font-size: 50px;
      text-align: center;
      font-weight: 500;
      padding: 20px 0px 10px;

      span {
        color: crimson;
      }
    }

    p {
      font-size: 20px;
      text-align: center;
      font-weight: 300;
      padding: 0px 30px;
      line-height: 30px;
      color: #3f485d;
    }
  }

  &__map {
    padding: 30px 0px;

    &__frame {
      width: 100%;
      border: 1px solid #aaa2;
      background: white;
    }
  }

  &__bottom {
    padding: 20px;

    &__cart {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
    }

    &__cart-info {
      background-color: white;
      padding: 30px;
      border-radius: 6px;
      box-shadow: 1px 1px 10px #aaa2;
    }

    &__cart-title {
      font-size: 25px;
      line-height: 30px;
      font-weight: 500;
      width: 70%;
      color: crimson;
      padding: 10px 0px;
    }

    &__cart-desc {
      display: grid;
      grid-template-columns: 20px 1fr;
      gap: 10px;
      padding: 10px 0;
    }

    &__contact {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 25px;
      padding: 50px 0px;
      box-shadow: 1px 1px 10px #aaa2;
    }

    &__contact-title {
      font-size: 25px;
      line-height: 30px;
      font-weight: 500;
      width: 90%;
      color: crimson;
      padding: 10px 0px;
    }
  }

  @media (max-width:1650px) {
    &__bottom__contact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
      padding: 50px 0px;
      // box-shadow: 1px 1px 10px #aaa2;
    }
  }

  @media (max-width:1120px) {
    &__bottom__cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }

    &__bottom__contact {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
      padding: 30px 0px;
    }
  }

  @media (max-width:840px) {
    &__info {
      h1 {
        font-size: 27px;
      }

      p {
        font-size: 16px;
        padding: 0;
      }
    }
  }

  @media (max-width:740px) {
    &__bottom__cart {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &__bottom__contact {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px 0px;
    }

    &__map {
      height: 400px;
      padding: 10px 0;

      &__frame {
        height: 100%;
      }
    }
  }

  @media (max-width:440px) {
    &__bottom__cart-title {
      font-size: 20px;
    }

    &__bottom__contact-title {
      font-size: 20px;
    }
  }

  @media (max-width:400px) {
    &__info {
      h1 {
        font-size: 22px;
      }

      p {
        font-size: 14px;
        padding: 0;
      }
    }
  }

  @media (max-width:370px) {
    &__bottom__cart-title {
      font-size: 18px;
    }

    &__bottom__contact-title {
      font-size: 18px;
    }
  }
}